<h3 class="mat-headline">Button type</h3>
<div>
  <button mat-button>mat-button</button>
  <button mat-raised-button>mat-button</button>
  <button mat-flat-button>mat-button</button>
  <button mat-stroked-button>mat-button</button>
</div>

<br>
<div>
  <button mat-icon-button>mat-icon-button</button>
  <button mat-fab>mat-fab</button>
  <button mat-mini-fab>mat-mini-fab</button>
</div>

<br>
<h3 class="mat-headline">Button color</h3>
<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
</div>

<br>
<div>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>

<br>
<h3 class="mat-headline">Disable ripple affect</h3>
<div>
  <button color="warn" mat-button disableRipple>Warn</button>
</div>

<br>
<h5>For More Visit Angular Documentation</h5>
<a href="https://material.angular.io/components/button/examples">https://material.angular.io/components/button/examples</a>
