<div id="main">
    <button mat-raised-button routerLink="/"><mat-icon>home</mat-icon>&nbsp;Home</button>
    <button mat-raised-button routerLink="/typography">Typography</button>
    <button mat-raised-button routerLink="/button">Button</button>
    <button mat-raised-button routerLink="/button-toggle">Button toggle</button>
    <button mat-raised-button routerLink="/badge">Badge</button>
    <button mat-raised-button routerLink="/chips">Chips</button>
    <button mat-raised-button routerLink="/icon">Icon</button>
    <button mat-raised-button routerLink="/progress-spinner">Progress spinner</button>
    <button mat-raised-button routerLink="/progress-bar">Progress bar</button>
    <button mat-raised-button routerLink="/ripples">Ripples</button>

    <!-- Data Table -->
    <button mat-raised-button routerLink="/table">Table</button>
</div>
<hr>
<div id="router-outlet">
    <router-outlet></router-outlet>
</div>
