<div>
  <mat-icon>edit</mat-icon>
  <mat-icon>delete</mat-icon>
  <mat-icon>save</mat-icon>
</div>

<h3 class="mat-headline">Icon color</h3>
<mat-icon color="primary">edit</mat-icon>
<mat-icon color="accent">delete</mat-icon>
<mat-icon color="warn">save</mat-icon>

<br>
<h5>For More Visit Angular Documentation</h5>
<h6>Angular</h6>
<a href="https://material.angular.io/components/button-toggle/examples" target="_blank">https://material.angular.io/components/button-toggle/examples</a>
<h5>All material icons</h5>
<a href="https://material.io/resources/icons/?style=baseline" target="_blank">https://material.io/resources/icons/?style=baseline</a>
